@keyframes slideout {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
  
.articles-animate-slideout {
  animation: slideout 0.5s ease forwards;
}

.articles-hidden {
  opacity: 0;
  display: none;
}

.articles-show {
  opacity: 1; 
  transform: translateY(0%);
}